<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CrudBookStore</display-name>
  <welcome-file-list>
    <welcome-file>getAll</welcome-file>
  
  </welcome-file-list>
	<context-param>  
		<param-name>username</param-name>  
		<param-value>root</param-value>  
	</context-param>
	<context-param>  
		<param-name>password</param-name>  
		<param-value></param-value>  
	</context-param>
	<context-param>  
		<param-name>url</param-name>  
		<param-value>jdbc:mysql://localhost:3306/book_store</param-value>  
	</context-param>      
</web-app>